body {
  background-color: white;
  color: #002663;
  text-align: center;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../images/giphy.gif") no-repeat;
  background-size: cover;
}



#heading {
  width: 600px;
  margin: 0 auto;
  font-family: 'PT Sans Narrow', sans-serif;
}

h1    {
  font-size: 80px;
  margin-bottom: 0;
  margin-top: 15px;
}

#heading h2 {
  display: inline;
  padding: 5px;
  background: white;
  color: #B22234;
}

button {
  /*display: block;*/
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  background:#B22234;
  padding: 10px 20px 10px 20px;
}

button:hover {
  background: #002663;
}

main {
  margin: 0 auto;
  margin-top: 25px;
  width: 600px;
  height: 400px;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 600px;
  height: 400px;
  border: 2px solid white;
}

li {
  list-style-type: none;
  float: left;
  border: 1.5px solid white;
  box-sizing: border-box;
}

.trump {
  background: url("../images/donaldTrump.png");
  background-repeat: no-repeat;
}

.clinton {
  background: url("../images/hillaryClinton.png");
  background-repeat: no-repeat;
}

.obama {
  background: url("../images/barackObama.png");
  background-repeat: no-repeat;
}
