body {
  background-color: #002663;
  color: white;
  text-align: center;
}

#heading {
  width: 800px;
  margin: 0 auto;
  font-family: 'PT Sans Narrow', sans-serif;
}

h1    {
  font-size: 50px;
  margin-bottom: 0;
}

#heading h2 {
  display: inline;
  padding: 5px;
}

button {
  /*display: block;*/
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  background:#B22234;
  padding: 10px 20px 10px 20px;

}

main {
  margin: 0 auto;
  margin-top: 25px;
  width: 800px;
  height: 600px;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 800px;
  height: 600px;
}

li {
  list-style-type: none;
  float: left;
  border: 1px solid #B22234;
  box-sizing: border-box;
}

.trump {
  background: url("file:///Users/almikola/development/WDI-Project-1/images/donaldTrump.jpg");
  background-repeat: no-repeat;
}

.clinton {
  background: url("file:///Users/almikola/development/WDI-Project-1/images/hillaryClinton.jpg");
  background-repeat: no-repeat;
}

.obama {
  background: url("file:///Users/almikola/development/WDI-Project-1/images/barackObama.jpg");
  background-repeat: no-repeat;
}
